<%- include("header") -%>
    <div class="box" id="heading">
        <h1>
            <%=listTitle%>
        </h1>
    </div>
    
    <div class="box">
         <!-- <% for( var i=0; i<newAdds.length ; i++) { %>
            <div class="item">
                <input type="checkbox">
                  <p><%= newAdds[i].name %></p> 
            </div>
         <% } %> -->
<<<<<<< HEAD

       
             
        
        <% newAdds.forEach(function(item){ %>
            <form  action="/delete" method="post" >
            <div class="item">
                <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
                  <p><%= item.name %></p> 
            </div>
            <input type="hidden" name="listName" value="<%=listTitle%>"></input>
        </form>
      <%   }) %>
    
         <form  action="/" method="post" class="item">
=======
      <%   newAdds.forEach(function(newadd){ %>
            <div class="item">
                <input type="checkbox">
                  <p><%= newadd.name %></p> 
            </div>
        <%  }) %>

         <form action="/" method="post" class="item">
>>>>>>> 632a5a753cb2f274da880e3ab801c61153067d7a
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value="<%=listTitle%>">+</button>
           
        </form>
    
 </div>
   
 <%- include("footer") -%>

    



</html>